body {
	margin: 3%;
}

header,
aside,
footer {
	border: 2px solid black;
	padding: 3%;
}

aside {
	width: 15%;
	min-height: 55vh;
}

canvas {
	padding: 3%;
	position: absolute;
	width: 97.5vh;
}

#leftSide {
	float: left;
}

#rightSide {
	float: right;
}

footer {
	clear: both;
}
